<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.informe.home.title">Informes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-informe" [routerLink]="['/informe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.informe.home.createLabel">
            Create a new Informe
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="informes?.length === 0">
        <span jhiTranslate="App.informe.home.notFound">No informes found</span>
    </div>
    <div class="table-responsive" *ngIf="informes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="App.informe.paciente">Paciente</span></th>
            <th scope="col" ><span jhiTranslate="App.informe.user">User</span></th>
            <th scope="col" ><span jhiTranslate="App.informe.fechaEvaluacion">Fecha Evaluación</span></th>
            <th scope="col" ><span jhiTranslate="App.informe.sospechaClinica">Sospecha Clínica</span></th>
            <th scope="col" ><span jhiTranslate="App.informe.sospechaClinicaSugerida">Sospecha Clinica Sugerida</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let informe of informes ;trackBy: trackId">
                <td><a [routerLink]="['/informe', informe.id, 'view' ]">{{informe.id}}</a></td>
                <td>
                    <div *ngIf="informe.pacienteId">
                        <a [routerLink]="['/paciente', informe.pacienteId , 'view' ]" >{{informe.pacienteNombre}}</a>
                    </div>
                </td>
                <td>
                    {{informe.userEmail}}
                </td>
				<td>{{informe.fechaEvaluacion | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'App.SospechaClinica.' + informe.sospechaClinica}}">{{informe.sospechaClinica}}</td>
                <td jhiTranslate="{{'App.SospechaClinica.'+ informe.sospechaClinicaSugerida}}">{{informe.sospechaClinicaSugerida}}</td>
                    <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/informe', informe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/informe', informe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(informe)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
