<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="puntosCorte">
            <h2><span jhiTranslate="App.puntosCorte.detail.title">Puntos Corte</span> {{puntosCorte.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.puntosCorte.nombre">Nombre</span></dt>
                <dd>
                    <span>{{puntosCorte.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="App.puntosCorte.limite">Limite</span></dt>
                <dd>
                    <span>{{puntosCorte.limite}}</span>
                </dd>
                <dt><span jhiTranslate="App.puntosCorte.superarlo">Superarlo</span></dt>
                <dd>
                    <span>{{puntosCorte.superarlo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/puntos-corte', puntosCorte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
