<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.resultadoPrueba.home.title">Resultado Pruebas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resultado-prueba" [routerLink]="['/resultado-prueba/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.resultadoPrueba.home.createLabel">
            Create a new Resultado Prueba
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="resultadoPruebas?.length === 0">
        <span jhiTranslate="App.resultadoPrueba.home.notFound">No resultadoPruebas found</span>
    </div>
    <div class="table-responsive" *ngIf="resultadoPruebas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
			<th scope="col" ><span jhiTranslate="App.resultadoPrueba.informe">Informe</span></th>
			<th scope="col" ><span jhiTranslate="App.resultadoPrueba.prueba">Prueba</span></th>
            <th scope="col" ><span jhiTranslate="App.resultadoPrueba.pd">Pd</span></th>
            <th scope="col" ><span jhiTranslate="App.resultadoPrueba.pz">Pz</span></th>

            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resultadoPrueba of resultadoPruebas ;trackBy: trackId">
                <td><a [routerLink]="['/resultado-prueba', resultadoPrueba.id, 'view' ]">{{resultadoPrueba.id}}</a></td>
                <td>
                    <div *ngIf="resultadoPrueba.informeId">
                        <a [routerLink]="['/informe', resultadoPrueba.informeId , 'view' ]" >{{resultadoPrueba.informeNombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="resultadoPrueba.pruebaId">
                        <a [routerLink]="['/prueba', resultadoPrueba.pruebaId , 'view' ]" >{{resultadoPrueba.pruebaNombre}}</a>
                    </div>
                </td>
                <td>{{resultadoPrueba.pd}}</td>
                <td>{{resultadoPrueba.pz}}</td>                
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/resultado-prueba', resultadoPrueba.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/resultado-prueba', resultadoPrueba.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(resultadoPrueba)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
