<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="estadisticaPuntoCorte">
            <h2><span jhiTranslate="App.estadisticaPuntoCorte.detail.title">Estadistica Punto Corte</span> {{estadisticaPuntoCorte.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.estadisticaPuntoCorte.prueba">Prueba</span></dt>
                <dd>
                    <div *ngIf="estadisticaPuntoCorte.pruebaId">
                        <a [routerLink]="['/prueba', estadisticaPuntoCorte.pruebaId, 'view']">{{estadisticaPuntoCorte.pruebaNombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="App.estadisticaPuntoCorte.puntoCorte">Punto Corte</span></dt>
                <dd>
                    <span>{{estadisticaPuntoCorte.puntoCorte}}</span>
                </dd>                
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/estadistica-punto-corte', estadisticaPuntoCorte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
