<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-estadistica-ajuste-neuronorma-heading" jhiTranslate="App.estadisticaAjusteNeuronorma.home.createOrEditLabel">Create or edit a Estadistica Ajuste Neuronorma</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.estadisticaAjusteNeuronorma.prueba" for="field_prueba">Prueba</label>
                    <select class="form-control" id="field_prueba" name="prueba" formControlName="pruebaId">
                        <option *ngIf="!editForm.get('pruebaId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="pruebaOption.id" *ngFor="let pruebaOption of pruebas; trackBy: trackById">{{pruebaOption.nombre}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('pruebaId')!.invalid && (editForm.get('pruebaId')!.dirty || editForm.get('pruebaId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('pruebaId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.estadisticaAjusteNeuronorma.codigoEstudio" for="field_codigoEstudio">Codigo Estudio</label>
                    <select class="form-control" id="field_codigoEstudio" name="codigoEstudio" formControlName="codigoEstudioId">
                        <option *ngIf="!editForm.get('codigoEstudioId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="codigoEstudioOption.id" *ngFor="let codigoEstudioOption of codigoestudios; trackBy: trackById">{{codigoEstudioOption.nivelEstudios}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('codigoEstudioId')!.invalid && (editForm.get('codigoEstudioId')!.dirty || editForm.get('codigoEstudioId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('codigoEstudioId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>                
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.estadisticaAjusteNeuronorma.scaledScore" for="field_scaledScore">Scaled Score</label>
                    <input type="number" class="form-control" name="scaledScore" id="field_scaledScore"
                           formControlName="scaledScore"/>
                    <div *ngIf="editForm.get('scaledScore')!.invalid && (editForm.get('scaledScore')!.dirty || editForm.get('scaledScore')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scaledScore')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scaledScore')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('scaledScore')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.estadisticaAjusteNeuronorma.ajusteEstudios" for="field_ajusteEstudios">Ajuste Estudios</label>
                    <input type="number" class="form-control" name="ajusteEstudios" id="field_ajusteEstudios"
                           formControlName="ajusteEstudios"/>
                    <div *ngIf="editForm.get('ajusteEstudios')!.invalid && (editForm.get('ajusteEstudios')!.dirty || editForm.get('ajusteEstudios')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ajusteEstudios')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ajusteEstudios')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('ajusteEstudios')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
