<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.estadisticaAjusteNeuronorma.home.title">Estadistica Ajuste Neuronormas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-estadistica-ajuste-neuronorma" [routerLink]="['/estadistica-ajuste-neuronorma/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.estadisticaAjusteNeuronorma.home.createLabel">
            Create a new Estadistica Ajuste Neuronorma
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="estadisticaAjusteNeuronormas?.length === 0">
        <span jhiTranslate="App.estadisticaAjusteNeuronorma.home.notFound">No estadisticaAjusteNeuronormas found</span>
    </div>
    <div class="table-responsive" *ngIf="estadisticaAjusteNeuronormas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="App.estadisticaAjusteNeuronorma.prueba">Prueba</span></th>
            <th scope="col" ><span jhiTranslate="App.estadisticaAjusteNeuronorma.codigoEstudio">Codigo Estudio</span></th>
			<th scope="col" ><span jhiTranslate="App.estadisticaAjusteNeuronorma.scaledScore">Scaled Score</span></th>
            <th scope="col" ><span jhiTranslate="App.estadisticaAjusteNeuronorma.ajusteEstudios">Ajuste Estudios</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estadisticaAjusteNeuronorma of estadisticaAjusteNeuronormas ;trackBy: trackId">
                <td><a [routerLink]="['/estadistica-ajuste-neuronorma', estadisticaAjusteNeuronorma.id, 'view' ]">{{estadisticaAjusteNeuronorma.id}}</a></td>
                <td>
                    <div *ngIf="estadisticaAjusteNeuronorma.pruebaId">
                        <a [routerLink]="['/prueba', estadisticaAjusteNeuronorma.pruebaId , 'view' ]" >{{estadisticaAjusteNeuronorma.pruebaNombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="estadisticaAjusteNeuronorma.codigoEstudioId">
                        <a [routerLink]="['/codigo-estudio', estadisticaAjusteNeuronorma.codigoEstudioId , 'view' ]" >{{estadisticaAjusteNeuronorma.codigoEstudioNivelEstudios}}</a>
                    </div>
                </td>
                <td>{{estadisticaAjusteNeuronorma.scaledScore}}</td>
                <td>{{estadisticaAjusteNeuronorma.ajusteEstudios}}</td>                
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/estadistica-ajuste-neuronorma', estadisticaAjusteNeuronorma.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/estadistica-ajuste-neuronorma', estadisticaAjusteNeuronorma.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(estadisticaAjusteNeuronorma)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
