<div class="footer">
    <div id="button"></div>
    <div id="container">
        <div id="col1">
            <a href="https://www.xunta.es">
                <img class="img-fluid" src="/content/images/Xunta2.png" alt="">
               <!-- <img alt="Xunta de Galicia" title="Xunta de Galicia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Logotipo_de_la_Xunta_de_Galicia.svg/1200px-Logotipo_de_la_Xunta_de_Galicia.svg.png" style="float:left;width:230px;height:90px"> -->
            </a>



        </div>

        <div id="col2">
                <a href="https://www.sergas.es/">Pagina Sergas</a>
                <a href="aviso-legal.html">Aviso Legal</a>
                <a href="privacidad.html">Privacidad</a>
                <a href="contactar.html">Contactar</a>
        </div>
        <div id="col3">
            <p>En esta pagina se pueden consultar los distintos pacientes.
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
    </div>
</div>
