<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.edadTipoPrueba.home.title">Edad Tipo Pruebas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-edad-tipo-prueba" [routerLink]="['/edad-tipo-prueba/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.edadTipoPrueba.home.createLabel">
            Create a new Edad Tipo Prueba
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="edadTipoPruebas?.length === 0">
        <span jhiTranslate="App.edadTipoPrueba.home.notFound">No edadTipoPruebas found</span>
    </div>
    <div class="table-responsive" *ngIf="edadTipoPruebas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="App.edadTipoPrueba.codigo">Codigo</span></th>
            <th scope="col" ><span jhiTranslate="App.edadTipoPrueba.edadMinima">Edad Minima</span></th>
            <th scope="col" ><span jhiTranslate="App.edadTipoPrueba.edadMaxima">Edad Maxima</span></th>
            <th scope="col" ><span jhiTranslate="App.edadTipoPrueba.tipoPrueba">Tipo Prueba</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let edadTipoPrueba of edadTipoPruebas ;trackBy: trackId">
                <td><a [routerLink]="['/edad-tipo-prueba', edadTipoPrueba.id, 'view' ]">{{edadTipoPrueba.id}}</a></td>
                <td>{{edadTipoPrueba.codigo}}</td>
                <td>{{edadTipoPrueba.edadMinima}}</td>
                <td>{{edadTipoPrueba.edadMaxima}}</td>
                <td jhiTranslate="{{'App.TipoPrueba.' + edadTipoPrueba.tipoPrueba}}">{{edadTipoPrueba.tipoPrueba}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/edad-tipo-prueba', edadTipoPrueba.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/edad-tipo-prueba', edadTipoPrueba.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(edadTipoPrueba)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
