<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-edad-tipo-prueba-heading" jhiTranslate="App.edadTipoPrueba.home.createOrEditLabel">Create or edit a Edad Tipo Prueba</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.edadTipoPrueba.codigo" for="field_codigo">Codigo</label>
                    <input type="text" class="form-control" name="codigo" id="field_codigo"
                           formControlName="codigo"/>
                    <div *ngIf="editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codigo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.edadTipoPrueba.edadMinima" for="field_edadMinima">Edad Minima</label>
                    <input type="number" class="form-control" name="edadMinima" id="field_edadMinima"
                           formControlName="edadMinima"/>
                    <div *ngIf="editForm.get('edadMinima')!.invalid && (editForm.get('edadMinima')!.dirty || editForm.get('edadMinima')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('edadMinima')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('edadMinima')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.edadTipoPrueba.edadMaxima" for="field_edadMaxima">Edad Maxima</label>
                    <input type="number" class="form-control" name="edadMaxima" id="field_edadMaxima"
                           formControlName="edadMaxima"/>
                    <div *ngIf="editForm.get('edadMaxima')!.invalid && (editForm.get('edadMaxima')!.dirty || editForm.get('edadMaxima')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('edadMaxima')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('edadMaxima')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.edadTipoPrueba.tipoPrueba" for="field_tipoPrueba">Tipo Prueba</label>
                    <select class="form-control" name="tipoPrueba" formControlName="tipoPrueba" id="field_tipoPrueba">
                        <option value="MMSE">{{'App.TipoPrueba.MMSE' | translate}}</option>
                        <option value="NEURONORMA">{{'App.TipoPrueba.NEURONORMA' | translate}}</option>
                        <option value="FAB">{{'App.TipoPrueba.FAB' | translate}}</option>
                        <option value="TAVEC">{{'App.TipoPrueba.TAVEC' | translate}}</option>
                        <option value="TBA">{{'App.TipoPrueba.TBA' | translate}}</option>
                        <option value="PUNTOS_DE_CORTE">{{'App.TipoPrueba.PUNTOS_DE_CORTE' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipoPrueba')!.invalid && (editForm.get('tipoPrueba')!.dirty || editForm.get('tipoPrueba')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipoPrueba')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
